/* shared styles for all */
body{
    font-family: 'Open Sans', sans-serif;
}

/* nav related styles */
nav{
    display: flex;
    justify-content: space-between;
}
nav> ul{
    display: flex;
    align-items: center;
}
nav > ul >li> a{
    text-decoration: none;
    color: #474747;
}
nav > ul >li{
    list-style:none;
    margin-right: 51px;
}

/* styles on h3 "Mary" */
.nav_title{
    color: var(--dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
}
.primary_text{
    color: #FD6E0A;

}
/* styles on buttons _hire me_*/
.btn_primary{
    width: 150px;
    height: 64px;
    background-color: #FD6E0A;
    border: 5px;
    border-style: none;
    border-radius: 5px;
}
.hire_class{
    color: #FFF;
    width: 79px;
    height: 27px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}